@using BugTracker.Models;
@model List<Bug>

@{

    List<Bug> open = new List<Bug>();
    List<Bug> wip = new List<Bug>();
    List<Bug> closed = new List<Bug>();

    
    for (int i = 0; i < Model.Count; i++)
    {
        if (Model[i].Progress == 0) open.Add(Model[i]);
        else if (Model[i].Progress == 1) wip.Add(Model[i]);
        else closed.Add(Model[i]);
    }
}


<html lang="en">
<h1>Bugs</h1>

<a asp-action="BugCreator"><input type="button" value="Create bug report" class="btn btn-primary"/></a>
<br/><br/>

<h1>Open</h1>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>Title</th>
        <th>Opened By</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    @{ 
        foreach (Bug bug in open){
            <tr>
                <td>@bug.Name</td>
                <td>
                    @bug.OpenedBy
                </td>
                @{
                    if (bug.OpenedBy == User.Identity.Name)
                    {
                        <td>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="BugCreator" class="btn btn-warning">Edit</a>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="BugCloser" class="btn btn-success">Close</a>

                            <a onclick="if (confirm('Are you sure?') == true) {$.post('@Url.Action("BugSquasher", "Bug")', {id: @bug.Id}, function(data){location.reload()})}" class="btn btn-danger">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="BugCloser" class="btn btn-success">Close</a>
                        </td>
                    }
                }
            </tr>
        }
    }
    </tbody>
</table>
<h1>Review in Progress</h1>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>Title</th>
        <th>Opened By</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    @{ 
        foreach (Bug bug in wip){
            <tr>
                <td>@bug.Name</td>
                <td>
                    @bug.OpenedBy
                </td>
                @{
                    if (bug.OpenedBy == User.Identity.Name)
                    {
                        <td>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="BugCreator" class="btn btn-warning">Edit</a>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="SolutionViewer" class="btn btn-success">View solution</a>

                            <a onclick="if (confirm('Are you sure?') == true) {$.post('@Url.Action("BugSquasher", "Bug")', {id: @bug.Id}, function(data){location.reload()})}" class="btn btn-danger">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            No actions for you!
                        </td>
                    }
                }
            </tr>
        }
    }
    </tbody>
</table>

<h1>Closed</h1>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>Title</th>
        <th>Opened By</th>
        <th>Closed On</th>
        <th>Solution By</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    @{ 
        foreach (Bug bug in closed){
            <tr>
                <td>@bug.Name</td>
                <td>
                    @bug.OpenedBy
                </td>
                <td>
                    @bug.CloseDate
                </td>
                <td>
                    @bug.ClosedBy
                </td>
                @{
                    if (bug.OpenedBy == User.Identity.Name)
                    {
                        <td>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="BugCreator" class="btn btn-warning">Edit</a>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="SolutionViewer" class="btn btn-success">View solution</a>
                            <a onclick="if (confirm('Are you sure?') == true) {$.post('@Url.Action("BugSquasher", "Bug")', {id: @bug.Id}, function(data){location.reload()})}" class="btn btn-danger">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-route-id="@bug.Id" asp-controller="Bug" asp-action="SolutionViewer" class="btn btn-success">View solution</a>
                        </td>
                    }
                }
            </tr>
        }
    }
    </tbody>
</table>


</html>